@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/Index.css")
@Styles.Render("~/Content/Site.css")
<body>
    <main class="d-flex justify-content-between ">

        <div class="pe-5 me-5">
            <div>
                <h3>Sei un nostro cliente?</h3>
                <h4>Trova la tua spedizione</h4>
                <p><a class="btn btn-danger" @Html.ActionLink("Cerca", "Tracking", "Tracking", new { area = "" }, new { @class = "nav-link" })</a></p>
            </div>
            @if (User.IsInRole("admin"))
            {
                

            }
            else
            {
                <div>
                    <h3>Sei un amministratore?</h3>
                  <p> <a class="btn btn-danger" href="https://localhost:44309/Amministratori/Amministratori">Accedi</a></p>


                </div>
            }
        </div>
       
        <img id="imgCentrale" src="https://www.fruitbookmagazine.it/wp-content/uploads/2023/02/bartolini-1.jpg" />
        <div class="row ms-5">
            <section class="col-md-9">

                <h3>La nostra responsabilità per l’uomo e l’ambiente</h3>
                <p>
                    Per noi «sostenibilità» non è solo una parola ma un dovere: siamo perfettamente coscienti della responsabilità che abbiamo nei confronti della Terra e dei suoi abitanti e traduciamo attivamente questa coscienza in azioni reali.

                    Ogni spedizione è gestita con la massima attenzione per ridurre al minimo l’impatto ambientale. .
                </p>

            </section>
           

        </div>

    </main>


    <marquee><img id="corriere" src="https://www.upela.com/assets/images/Blog/brt.png" /></marquee>
</body>